/* TODO Add site wide styles */

body {
    font-family: 'Lato', sans-serif;
    color: #262626;
    box-sizing: border-box;
    background-color: #FFF;
    background-size: 110%;
    margin: 0%;
}

body button{
    cursor: pointer;
}

body i{
    cursor: pointer;
}

.edit-icon {
    width: 20px;
}
