#home-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 1000px;
}

#side-outer-container {
    width: 350px;
    height: 100vh;
}
#side-inner-container {
    width: 250px;
    height: 100vh;
    background-image: url("../../images/pastel-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#main-container {
    width: 100%;
}

#main-inner {
    margin: auto;
    box-sizing: border-box;
    padding: 2rem;
    width: 100%;
    /* max-width: 900px; */
    min-width: 530px;
    height: 100vh;
    background-color: white;
}

#misc-container {
    border: blue 1px solid;
    width: 350px;

}

#side-container-bottom {
    display: flex;
    padding-top: 40px;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 64%;
}

button.side {
    width: fit-content;
    margin-bottom: 2rem;
    height: 40px;
    width: 80%;
    border: none;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    background-color: #43cec2;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

button.side:hover {
    background-color: #77ded6;
}

button.side-highlight {
    width: fit-content;
    margin-bottom: 2rem;
    height: 40px;
    width: 80%;
    border: none;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    background-color: #43cec2;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    outline: #ffffff 3px solid;
}

button.side-highlight:hover {
cursor: default;
}

#username-useredit {
    display: flex;
    flex-direction: row;
}
