#home-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 1000px;
}

#side-container {
    /* border: red 1px solid; */
    width: 350px;
    border-radius: 15px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

#main-container {
    /* border: green 1px solid; */
    width: 100%;
}

#main-inner {
    margin: auto;
    border: teal 1px solid;
    width: 80%;
    max-width: 900px;
}

#misc-container {
    border: blue 1px solid;
    width: 350px;

}
