/* user card container */
.user-card {
    display: flex;
    background-color: transparent;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    height: fit-content;
    max-height: 50%;
}

/* pokemon icon */
button.user-icon {
    border-radius: 50%;
    height: 180px;
    width: 180px;
    background-color: transparent;
    border: none;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

img.user-icon {
    height: 120px;
    width: 120px;

}

img.user-icon:hover {
    cursor: pointer;
}

#user-card-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#user-card-username {
    font-size: 40px;
    margin-bottom: 1rem;
    font-weight: bolder;
    color: #43cec2;
}

/* container for points and store/edit buttons*/
#points-and-buttons {
    display: flex;
    flex-direction: column;
    flex-direction: center;
    align-items: center;
}

#user-score {
    display: flex;
    margin-top: 1rem;
}

/*container for buttons for store and edit user*/
#user-card-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

button.user-card-buttons {
    background-color: transparent;
    border: none;
    color: #43cec2;
    font-size: 25px;
    margin: 10px;
}


/* store */
#shop-container {
    background-color: white;
    height: 270px;
    width: 300px;
    border-radius: 8px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#shop-header {
    width: 100%;
    display: flex;
    font-size: 20px;
    font-weight: bold;
    justify-content: space-between;
    padding: 5px;
    border-bottom: #43cec2 3px solid;
}

#shop-done {
    background-color: transparent;
    width: 150px;
    padding: 5px;
    border: #43cec2 solid 2px;
    border-radius: 4px;
    color: #43cec2;
}
